[Unit]
Description=A daemon that switches the CPU frequency based on the jack DSP load

[Service]
Environment=OPTIONS="-w -vvv"
EnvironmentFile=-/etc/default/jackfreqd
ExecStart=/usr/sbin/jackfreqd $OPTIONS

[Install]
WantedBy=multi-user.target
