#!/usr/bin/make -f

%:
	dh $@

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	install -o root -g root -m 0755 jackfreqd \
		debian/jackfreqd/usr/sbin/jackfreqd
	#install -o root -g root -m 0755 debian/jackfreqd.default \
	#	debian/jackfreqd/etc/default/jackfreqd
